.outbox{
    background-color: white;
    padding:50px;
    border: 1px solid black;
    font-family: "Fairplay", Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
  }

.bodystyle{
  padding: 5px;
  background-color: #F8F8FF;
}

.about{
  border:1px solid black;
  height:250px;
  padding:20px;
  background-color:white;
  overflow:auto;
}

.yaml_box{
  width:500px;
  height:125px;
  content-editable:true;
  background-color: white;
  color:black;
 border:1px solid black;
}

.inbox{
  width:500px;
  height:500px;
  background-color: white;
  padding:10px;
  border: 1px solid black;   
}