.outbox{
    background-color: white;
    padding:50px;
    border: 1px solid black;
    font-family: "Fairplay", Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
  }

.bodystyle{
  padding: 5px;
  background-color: #F8F8FF;
}

.inbox{
  width:500px;
  height:500px;
  background-color: white;
  padding:10px;
  border: 1px solid black;   
}