.outbox{
    background-color: white;
    padding:5px;
    border: 1px solid black;
    font-family: "Fairplay", Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    height: 80%
  }

.bodystyle{
  padding: 5px;
  background-color: #F8F8FF;
}

textarea {
  font-size: 18px;
}

.inbox{
  background-color: white;
  padding:5px;
  border: 1px solid black;
  width: 100%;
  height: 80%
}