
  .outbox{
    background-color: white;
    padding:50px;
    border: 1px solid black;
  }
.bodystyle{
  padding: 75px;
  background-color: #F8F8FF;
}
.about{
  border:1px solid black;
  height:250px;
  padding-top:20px;
  background-color:white;
  overflow:auto;
}

ol { list-style-type: none; counter-reset: say; } 
ol li:before { counter-increment: say; content: counters(say,".") ". "; }