
  .outbox{
    background-color: white;
    padding:50px;
    border: 1px solid black;
    box-shadow: 10px 10px 5px #888888;
  }

.inbox{
    width:450px;
    background-color: white;
    padding:10px;
    border: 1px solid black;
   
  }
.bodystyle{
  padding: 75px;
  background-color: #F8F8FF;
}
.about{
  border:1px solid black;
  height:450px;
  padding:20px;
  background-color:white;
  overflow:auto;
   box-shadow: 10px 10px 5px #888888;
}

.yaml_box{
  width:450px;
  height:225px;
  background-color: white;
  color:black;
  border:1px solid black;
  box-shadow: 10px 10px 5px #888888;
  padding: 10px;


}

ol { list-style-type: none; counter-reset: say; } 
ol li:before { counter-increment: say; content: counters(say,".") ". "; }