levels: 
  - form: Sec. $x.
    num: 1
  - form: ($x)
    num: a
  - form: ($x)
    num: 1

short_title: "l. Short title.\nThis act may be cited as the "

fis_budget: "l. Fiscal impact statement.\nThe Council adopts the fiscal impact statement of the Budget Director as the fiscal impact statement required by section 602(c)(3) of the District of Columbia Home Rule Act, approved December 24, 1973 (87 Stat. 813; D.C. Official Code § 1-206.02(c)(3))."

effective_date: "l. Effective date.\nll. This act shall take effect following approval by the Mayor (or in the event of veto by the Mayor, action by the Council to override the veto), a 30-day period of Congressional review as provided in section 602(c)(1) of the District of Columbia Home Rule Act, approved December 24, 1973 (87 Stat. 813; D.C. Official Code § 1-206.02(c)(1)), and publication in the District of Columbia Register.\nll. This act shall expire after 225 days of its having taken effect."